<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <title>Document</title>
<style>
    ul {
  list-style-type: none;
  margin: 0 100px;
  padding:7px 20px 0px 0px;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: right;
}

li a {
  display: block;
  color:#3CB371 ;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  letter-spacing: 2px;
}

li a:hover {
  color: #006400;
  border-bottom: 0px solid #006400;
}

.button_example {
  background-color:#006400;
  border: none;
  color: white;
  letter-spacing: 1px;
  padding: 15px 50px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button_example:hover{
  background-color:rgba(29, 230, 161, 0.6);
  color: black;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup #content {
  max-height: 30%;
  overflow: auto;
}

  #popup1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

</style>
</head>
<body>
    <script>
        console.log('Sending connection')
            const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/web_socket'
            );
    
        chatSocket.onmessage = function (event) {
            console.log(event);
            var pop=document.getElementById("popup1")
            var message=document.getElementById("content")
            message.innerHTML=event.data
            pop.style.visibility="visible"
            pop.style.opacity="1"
            }
    
        function ok(){
            console.log("ok");
            var pop=document.getElementById("popup1")
            pop.style.visibility="hidden"
            pop.style.opacity="0"
        }
      </script>
      <div id="popup1" class="overlay">
        <div class="popup">
          <h2>Here i am</h2>
          <!-- <a class="close" href="#">&times;</a> -->
          
          <div id="content">
            Thank to pop me out of that button, but now i'm done so you can close this window.
          </div>
          <button id="close" onclick="ok()">OK</button>
        </div>
      </div>
  <ul>
    <!-- <li><a href="#about">Tab</a></li>
    <li><a href="#contact">Tab</a></li>
    <li><a href="#news">Tab</a></li> -->
    <li><a href='{% url '' %}'>Home</a></li>
    <li><a href='{% url 'task' %}'>Task</a></li>
    <li><a href='{% url 'reportlist' %}'>Reports</a></li>
    <li><a href='{% url 'localreportlist' %}'>Local Reports</a></li>
    <li><a href='{% url 'logout_server' %}'>Logout</a></li>
    
  </ul>
  <h1 style="text-align: center;font-family: 'Poppins', sans-serif; font-size: 50px;">Statistics</h1>
<div style="max-width: 1300px; margin: auto; padding: 10px;">
<div style="width: 45%; height: 300px;display: inline-block; margin-top: 10px;"><canvas id="chartContainer1"></canvas></div> 
<div style="width: 45%; height: 300px;display: inline-block; margin-left: 70px; margin-top: 10px;"><canvas id="chartContainer2"></canvas></div>
<div style="width: 45%; height: 300px;display: inline-block; margin-top: 40px;">
  <canvas id="chartContainer3"></canvas>
</div>
<div style="width: 45%; height: 300px;display: inline-block; margin-left: 70px;margin-top: 40px;"><canvas id="chartContainer4"></canvas></div>

</div>
<script>
var ctx = document.getElementById('chartContainer1');
var report={{report|safe}}
console.log(report)
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Animal incident','Tree fall','Settlement incident','Lost object','Alert Report','Other'],
        datasets: [{
            label: 'Types of Report',
            data: [report["animal incident"],report['tree fall'],report['settlement incident'],report['lost object'],report['alert report'],report['other']],
            backgroundColor: [
                'rgba(56, 211, 159,0.5)',
                'rgba(56, 211, 159,0.5)',
                'rgba(56, 211, 159,0.5)',
                'rgba(56, 211, 159,0.5)',
                'rgba(56, 211, 159, 0.5)',
                'rgba(56, 211, 159,0.5)'
            ],
            borderColor: [
                'rgba(56, 211, 159,1)',
                'rgba(56, 211, 159,1)',
                'rgba(56, 211, 159,1)',
                'rgba(56, 211, 159,1)',
                'rgba(56, 211, 159, 1)',
                'rgba(56, 211, 159,1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
      title: {
          display: true,
          fontSize:30,
          fontFamily:"'Poppins', sans-serif",
          fontColor:"#38d39f",
          text: 'Reports'
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

var ctx = document.getElementById('chartContainer2');
var hunter={{hunter|safe}}
console.log(hunter)
var lab=[]
var val=[]
for (const [key, value] of Object.entries(hunter)){
  lab.push(key)
  val.push(value)
}
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: lab,
        datasets: [{
            label: 'Hunter offence',
            data: val,
            backgroundColor: [
                'rgba(56, 211, 159,0.5)',
                'rgba(56, 211, 159,0.5)',
                'rgba(56, 211, 159,0.5)',
                'rgba(56, 211, 159,0.5)',
                'rgba(56, 211, 159, 0.5)',
                'rgba(56, 211, 159,0.5)'
            ],
            borderColor: [
                'rgba(56, 211, 159,1)',
                'rgba(56, 211, 159,1)',
                'rgba(56, 211, 159,1)',
                'rgba(56, 211, 159,1)',
                'rgba(56, 211, 159, 1)',
                'rgba(56, 211, 159,1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
      title: {
          display: true,
          fontSize:30,
          fontFamily:"'Poppins', sans-serif",
          fontColor:"#38d39f",
          text: 'Hunter'
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});


var ctx = document.getElementById('chartContainer3');
var animal={{animal|safe}}
console.log(animal)
var lab=[]
var val=[]
for (const [key, value] of Object.entries(animal["elephant"])){
  lab.push(key)
  val.push(value)
}
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: lab,
        datasets: [{
            label: 'Animal',
            data: val,
            backgroundColor: [
                'rgba(56, 211, 159,0.5)',
                'rgba(56, 211, 159,0.5)',
                'rgba(56, 211, 159,0.5)',
                'rgba(56, 211, 159,0.5)',
                'rgba(56, 211, 159, 0.5)',
                'rgba(56, 211, 159,0.5)'
            ],
            borderColor: [
                'rgba(56, 211, 159,1)',
                'rgba(56, 211, 159,1)',
                'rgba(56, 211, 159,1)',
                'rgba(56, 211, 159,1)',
                'rgba(56, 211, 159, 1)',
                'rgba(56, 211, 159,1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
      title: {
          display: true,
          fontSize:30,
          fontFamily:"'Poppins', sans-serif",
          fontColor:"#38d39f",
          text: 'Spotted Animals'
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

var ctx = document.getElementById('chartContainer4');
var alert={{alert|safe}}
console.log(alert)
var myPieChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['Hunter', 'Camera', 'SOS'],
        datasets: [{
            
            data: [alert["hunter"],alert["camera"],alert["sos"]],
            backgroundColor: [
                'rgba(255, 99, 132, 0.5)',
                'rgba(54, 162, 235, 0.5)',
                'rgba(255, 206, 86, 0.5)',
                'rgba(75, 192, 192, 0.5)',
                'rgba(153, 102, 255, 0.5)',
                'rgba(255, 159, 64, 0.5)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options:{
      title: {
          display: true,
          fontSize:30,
          fontFamily:"'Poppins', sans-serif",
          fontColor:"#38d39f",
          text: 'Alerts'
        },
    }
    
});
</script>
<br>
<br>
<div>
  <h1 style="text-align: center;">Download Data</h1>
</div>
<div align="center">
  <a href="http://127.0.0.1:8000/getexcelanimal"><input type="button" class="button_example" value="Animal Data"/></a>
</div>
</body>
</html>